/* @font-face {
    font-family: cairo;
    src: url(../fonts/Cairo-VariableFont_slnt\,wght.ttf);
} */
*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --main-color : #1b262c ;
    --secondary-color : #0F4C75  ;
    --third-color : #3282B8  ;
    --fourth-color :  #BBE1FA  ;

}
body{
    background-color: var(--fourth-color);
    font-family: Cairo;
}
                /* ------------------------- */
                img{
                    width: 100%;
                }

ul{
    display: flex;
}
li{
    padding: 10px;
    list-style: none;
    margin: 10px;
    a{
        text-decoration: none;
           font-weight: bold;
           color: black;
           
        }
}
.logo{
    width: 110px;
}
.naavbar {
    padding: 5px 0;
    justify-content: space-between;
    display: flex;
}
              /* sec one */
.main-sec-1 {
/* position: relative;  */
height: 85vh;
background-attachment: fixed;
background-repeat: no-repeat;
background-image: url(../images/depositphotos_13724305-stock-photo-stethoscope-on-clipboard.jpg);
}
.main-sec-1 div:first-child {
width: 100%;
;
}
.sec-1-p{
text-align: center;
padding-top: 40vh;
padding-left: 23vw;
left: 50%;
top: 40%;
font-size: 28px;
font-weight: 900;
font-family: sans-serif;
color: var(--secondary-color);

}
/* Sec Tow */
.hospitals{
    border: #000000d8 1px solid;
 border-top-color: var(--secondary-color);
   border-radius: 10px ;
   padding: 2px;
   border-top-width: 9px ;
   H1{
    color: var(--third-color);
   }
   text-align: center;
   
}
.Addiction{
    border: #000000d8 1px solid;
    border-top-color: var(--secondary-color);
      border-radius: 10px ;
     padding-right: 10%;
      border-top-width: 9px ;
      H1{
        color: var(--third-color);
        padding-left: 95px;
       }
       P{
        padding-left: 140px;
        
       }
      
}
.rowT{
   display: flex;
   justify-content: space-between;
   flex-wrap: nowrap;

}

