body{
    background: url(../images/medical-community-high-resolution-logo-black.png) ;
    background-size: cover;
    background-repeat: no-repeat;
  
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 420px;
   width: 350px;
   background: rgba(0, 0, 0, 0.8);
   border-radius: 15px;
   box-sizing: border-box;
   transform: tr;
}
h1{
    margin-top: 95px;
      color: white;
    text-align:  center;
}
input[type="text"], [type="Password"] {
    position: absolute;
    outline: none;
    border: none;
    width: 250px;
    height: 35px;
    border-bottom:2px solid #0094ff ; 
    background: none;
    padding: 5px;
}
input[value="Login"]{
    border-radius: 15px;
    font-size: 20px;
    position: absolute;
    top: 305px;
    width: 130px;
    height: 35;
    left: 110px;
    background-color: rgba(0, 0, 255, 0.322);
    color: aliceblue;
    border: none;
    outline: none;
}
input[type="text"]{
    top: 140px;
    left: 50px;
}
input[type="Password"]{
    top: 210px;
    left: 50px;
}
input[value="Login"]:hover{
    background: #fff;
    color: rgba(0, 0, 255, 0.322);
}
a{
    position: absolute;
    top: 360px;
    left: 50px;
    color: #fff;
    :hover{
        color: #0094ff;
    }
}